{% extends "document.html" %}

{% block body %}
<body class="{{bodyClass}}">

	{% include "parts/admin-bar.html" %}
	{% include "parts/admin-side.html" %}

	<div class="admin-main">
		{% block main %}{% endblock %}
	</div>
	{% block extra %}{% endblock %}
	{% block scripts %}
	<script src="{{admin.url}}/js/jquery.min.js"></script>
	<script src="{{admin.url}}/js/bootstrap.min.js"></script>
	<script src="{{admin.url}}/js/flex-detect.js"></script>
	<script src="{{admin.url}}/js/admin.js"></script>
	{% endblock %}
</body>
{% endblock %}