<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{app.title}}</title>
    <!-- Bootstrap -->
    <link href="{{app.url}}/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClass}}">
<div class="wrapper">
    <header class="site-header">
        <div class="site-branding">
            <div class="site-title">
                <a href="{{app.url}}">Weaver CMS</a>
            </div>
            <div class="site-description">Start weaving websites now</div>
        </div>
        <div class="nav-main">
        </div>
        <div class="header-image">
            <img src="{{app.url}}/images/work.jpg" alt="work">
        </div>
    </header>
    {% block body %}{% endblock %}
    <footer class="footer">
    </footer>
</div>
<script src="{{app.url}}/js/jquery-3.2.1.js"></script>
<script src="{{app.url}}/js/script.js"></script>
</body>
</html>