<div class="admin-bar">
    <button class="toggle-menu">
        <svg viewBox="0 0 24 24"><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
    </button>
    <div class="site-title">Weaver <span>CMS</span></div>
    <nav class="top-links">
        <ul>
            <li>
                <a href="#" class="notify">
                    <svg viewBox="0 0 24 24"><path d="M14,20A2,2 0 0,1 12,22A2,2 0 0,1 10,20H14M12,2A1,1 0 0,1 13,3V4.08C15.84,4.56 18,7.03 18,10V16L21,19H3L6,16V10C6,7.03 8.16,4.56 11,4.08V3A1,1 0 0,1 12,2Z" /></svg>
                    <span class="notify-count">3</span>
                </a>

            </li>
            <li>
                <a href="/admin/logout.html" class="my-account">
                    <svg style="max-width:24px" viewBox="0 0 24 24"><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
                    <span>Admin</span>
                </a>
            </li>
        </ul>
    </nav>
</div>